// Миксины - возможность делать шаблоны кода и перееиспользовать его. Возможо добавлять аргументы
// Стили кнопки
@mixin style-link($color)
    display: inline-block
    text-transform: uppercase
    text-decoration: none
    color: $color